.App {
  display: flex;
  height: 95vh;
  overflow-y: hidden;
  padding: 30px 5px 0px 5px;
}

.left-view {
  width: 70%;
}

.right-view {
  width: 30%;
  padding-left: 20px;
  border-left: 1px solid rgb(58, 131, 26);
}

/* ANCHOR Todo */
.todo {
  height: 50px;
  width: 300px;
  padding: 0px 10px;
  margin: 5px 20px;
  background: rgb(131, 200, 228);
  border: 2px solid skyblue;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo:hover {
  background-color: rgb(181, 222, 239);
}

/* .input-container {
} */

.btn-container {
  height: 100px;
  display: flex;
  align-items: center;
}
